Repository mpi4py/mpi4py, pull requests merged in 2023-07, with the labels that each got.

#376 refactor: Update to Cython 3
  README.rst
  conf/cyautodoc.py
  conf/cythonize.py
  conf/mpistubgen.py
  conf/requirements-build-cython.txt
  setup.py
  src/mpi4py/MPI.pyi
  src/mpi4py/MPI.pyx
  src/mpi4py/MPI/MPI.pyx
  src/mpi4py/MPI/typing.pxi
Labels: refactor, build

#379 type: Do not install stubs for Python 3.7 or older
  CHANGES.rst
  CMakeLists.txt
  meson.build
  setup.py
  src/mpi4py/futures/_base.pyi
  src/mpi4py/futures/_core.py
  src/mpi4py/futures/aplus.py
  src/mpi4py/typing.pyi
  test/test_package.py
Labels: build, test, typing

#380 docs: clarify pkl5.rst regarding collective comm ops
  docs/source/mpi4py.util.pkl5.rst
Labels: documentation
